.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131a32;
    color: #fff;
}

.footer span {
    font-weight: bold;
    color: #7367fa;
}